/*

Template: Hostingo - Hosting WordPress & WHMCS Theme
Author: peacefulthemes.com
Version: 1.2
Design and Developed by: Peaceful Themes

*/
@media(max-width:1365px) {
	footer#pt-footer {
		font-size: 14px;
	}

	.pt-section-title-box .pt-section-title {
		font-size: 44px;
		line-height: 52px;
	}

	.pt-foote-recent-post .pt-foote-recent-post-media {
		display: none;
	}

}

@media(max-width:1199px) {
	.container, .elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 960px;
	}

#bridge .container { width: 960px !important; }
	.section-style:before {
		content: "";
		position: absolute;
		right: 100%;
		top: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: var(--yellow-color);
	}

	.pt-footer-social ul li a {
		width: 45px;
		height: 45px;
		line-height: 45px;
	}

	.last .pt-process-step.pt-process-2 .pt-before-img {
		display: none;
	}

}

@media(max-width:1023px) {
	.container, .elementor-section.elementor-section-boxed>.elementor-container {
		max-width: 100%;
	}
#bridge .container { width: 100% !important; }
	footer#pt-footer {
		font-size: 16px;
	}

	.pt-subscribe-block {
		margin-bottom: 30px;
	}

	#pt-footer .pt-footer-style-1  .pt-copyright-footer .row {
		-ms-flex-direction: row-reverse !important;
		flex-direction: row-reverse !important;
	}

	.content-area .site-main {
		padding: 90px 0;
	}

	.pt-foote-recent-post .pt-foote-recent-post-media {
		display: inherit;
	}

	.navbar-expand-lg .navbar-toggler {
		display: block;
	}

	.navbar-expand-lg .navbar-collapse.collapse:not(.show) {
		display: none !important;
	}

}

@media(max-width:767px) {
	.pt-section-title-box .pt-section-title {
		font-size: 38px;
		line-height: 1.3;
	}

	.pt-section-title-box.text-center {
		margin-bottom: 30px;
	}

	#pt-footer .pt-footer-style-1 .pt-copyright-footer .text-right {
		text-align: center !important;
	}

	#pt-footer .pt-footer-style-1 .pt-copyright-footer .pt-copyright {
		padding: 15px 0;
		display: inline-block;
		width: 100%;
	}

	.pt-footer-social {
		text-align: left;
	}

	.pt-footer-social ul li {
		float: none;
		display: inline-block;
	}

	.content-area .site-main {
		padding: 60px 0;
	}

	.pt-blog-post .pt-blog-contain {
		padding: 15px;
	}

	.pt-blog-post .pt-post-meta ul li:last-child {
		margin-top: 0;
	}

	.pt-process-step.pt-process-2 .pt-before-img {
		display: none;
	}

}

@media(max-width:479px) {
	.pt-blog-post .pt-post-meta ul {
		display: inline-block !important;
		margin: 0;
	}

	.pt-section-title-box .pt-section-title {
		font-size: 30px;
		line-height: 1.3;
	}

	.pt-subscribe-block .pt-subscribe-img {
		display: none;
	}

	.pt-subscribe-block .pt-subscribe-details {
		margin-left: 0;
		text-align: center;
	}

	.pt-subscribe-from form input {
		text-align: center;
	}

	.pt-subscribe-from form input[type="submit"] {
		position: relative;
		width: 100%;
	}

}


