

.fancybox-lock .zoomContainer{
	-webkit-transform:none!important;
}

.fancybox-lock .zoomContainer .zoomLens,
.fancybox-lock .zoomContainer .zoomWindow {
	z-index:8021!important;
}

.quickview-main .product-image-thumbs li:first-child{
	margin-left:0;
}


.quickview-main .product-collateral{
	display:none;
}

.fancybox-wrap .fancybox-outer, 
.fancybox-wrap .fancybox-inner{
	background-color:#fff;
}
.fancybox-wrap .fancybox-skin{
	background-color:#fff;
}
.quickview-main .yt-product-detail .yt-detail-left{
}
.quickview-main .yt-product-detail .more-views .jCarouselLite > ul > li{	
}

.quickview-main .category-image,
.quickview-main .yt-product-detail .addthis_toolbox,
.quickview-main .yt-product-detail .popup-btn.hidden-phone > a,
.quickview-main .yt-product-detail .tab-product-detail{
	display:none;
}
.quickview-main .yt-product-detail .more-views.slide-gallery{
	text-align:justify;
}

.sm_quickview_handler{
	font-weight: 400;
	height: 36px;
	left: 50%;
	line-height: 36px;
	margin-left: -18px;
	margin-top: -18px;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: 50%;
	vertical-align: middle;
	white-space: nowrap;
	width: 36px;
	z-index: 88;
}

.sm_quickview_handler:before{
	font-family: FontAwesome;
	content: "\f002";
	font-size: 14px;
	color: #fff;
}

.sm_quickview_handler span{
	display: none;
}
